.fs-8 {
  font-size: 0.95em;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 600px;
  height: 900px;
  border: 3px rgb(134, 8, 8);
  border-style: ridge;
  margin-top: 10px;
}

h5 {
  font-family: "Roboto", sans-serif;
  margin-left: 2px;
}
.fa-instagram {
  margin-top: 1.5px;
  margin-left: 10px;
}

.title-div {
  justify-content: space-between;
  margin: 8px -3px;
  border-top: 0.5px thin grey;
  background-color: rgb(240, 234, 234);
  height: 8%;
  align-items: center;
}

.col-4 {
  text-align: center;
}


.flex-row ,.card{
    margin:2.5px 5px;
}

#gridTab{
    margin:10px auto;
}